body{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: grid;
    grid-auto-flow: column;
    
}
#navbar{
    background-color: #FFD900;
    padding: 15px;
}
#secion{
    width: 100%; background: #514988;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 16pt;
}
#secion h1{
    color: #F3C61F;
}

#footer h4{
    color: #F3C61F;
    padding-left:85px;
    font-size: 16pt;
}

#footer{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
#img-footer{
    width: 65%;
}
button{
    background-color: #514988;
    color: white;
    width: 390px;
    height: 100px;
    border-radius: 12px;
    border: none;
    font-weight: 700;
    font-size: 19pt;
}

button:hover{
    color:#F3C61F;
    cursor: pointer;
    background-color: #6b5fb9;
}
#btn{
    text-align: center;
    margin-top: 140px;
    margin-left: 45px;
}
#timer{
    color: #514988;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    justify-content: space-evenly;
    font-size: 16pt;
    width: 640px;
    height: 60px;
}
#sec2{
    text-align: center;
    padding-left: 20px;
    width: 640px;
}    
#sec2 h3{
    font-size: 16pt;
    color: #E33881;
}

.card-highlight
{
    box-shadow: 10px 10px 10px 10px grey;
}

.card-selected{
    border: 5px solid greenyellow;
}

#enviar{
    background: #514988;
    border-radius: 10px;
    color: #ffffff;
    border: 0pt;
    margin: 30px;
    width: 170px;
    height: 33px;
    font-size: 20px;
    font-weight: 700;

}

#email{
    background: rgb(187, 182, 182);
    border-radius: 10px;
    color: #ffffff;
    border: 0pt;
    margin: 30px;
    width: 400px;
    height: 33px;
    font-size: 16px; 
    padding-left: 15px;
}

#enviar:hover{
    color:#F3C61F;
    cursor: pointer;
    background-color: #6b5fb9;
}

form{
    background-color: #F3C61F;
}